{% load static %}
<html class=" js no-touch opacity cssgradients csstransforms csstransforms3d csstransitions svg inlinesvg svgclippaths no-ie8compat">
<html lang="en">
<head>
   <!-- //Meta tag Keywords -->
    <title>
        {% block title %}
        {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
{#      <script type="text/javascript">#}
{#    var asnycAwaitFunctions = [];#}
{#  </script>#}
{#    <script type="text/javascript">#}
{#      var dataLayer = [];#}
{#    </script>#}
{#    <script>#}
{#window.dataLayer = window.dataLayer || [];#}
{#window.dataLayer.push({#}
{#  'page': window.location.href,#}
{#  'status': '200',#}
{#  'language': 'EN',#}
{#  'page_type': 'home',#}
{#});#}
{#</script>#}
{#    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':#}
{#      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],#}
{#      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=#}
{#      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);#}
{#      })(window,document,'script','dataLayer','GTM-5NDQBL');</script>#}
{#    <script type="text/plain" data-type="text/javascript" data-name="advertising">#}
{#(function(w,e,b,g,a,i,n,s){w['ITCLKOBJ']=a;w[a]=w[a]||function(){(w[a].q=w[a].q||[]).push(arguments)},w[a].l=1*new Date();i=e.createElement(b),n=e.getElementsByTagName(b)[0];i.async=1;i.src=g;n.parentNode.insertBefore(i,n)})(window,document,'script','https://analytics.webgains.io/clk.min.js','ITCLKQ');#}
{#ITCLKQ('set', 'internal.cookie', true);#}
{#ITCLKQ('click');#}
{#</script>#}

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <!-- Bootstrap-Core-CSS -->#}
{#    <!--/ Style-CSS -->#}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static '/css/typkit.css' %}">
    <link rel="stylesheet" href="{% static '/css/layout.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
{#    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">#}
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">

    <!-- //Fonts -->
</head>
<body id="content" class="content homepage en">
{#<div id="page" class="page">#}
   <div id="page-topbar">
 <div class="row">
    <div class="twelve columns">
      <div class="unique-selling-points slick-initialized slick-slider">
      <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 804px; transform: translate3d(0px, 0px, 0px);"><div class="usp usp-1 slick-slide slick-current slick-active" style="width: 268px;" tabindex="0" data-slick-index="0" aria-hidden="false"><span class="inner">Worldwide shipping</span></div><div class="usp usp-2 slick-slide slick-active" style="width: 268px;" tabindex="0" data-slick-index="1" aria-hidden="false"><span class="inner">14 Days Return</span></div><div class="usp usp-3 slick-slide slick-active" style="width: 268px;" tabindex="0" data-slick-index="2" aria-hidden="false"><span class="inner">Fast shipping</span></div></div></div></div>
      <a class="close-topbar show-for-small"><span class="icon-cross"></span></a>
    </div>
  </div>
</div>
    {% include 'situations/header.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'situations/footer.html' %}




{#    <script src="{% static 'js/script.js' %}"></script>#}
{#<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>#}
{#</div>#}
<script src="{% static '/js/layout.js' %}"></script>
    <script language="JavaScript" type="text/javascript">

  var currentPageInfo = {"id":"homepage","bodyId":"content","bodyClass":"content homepage en","compulsoryType":null,"contentPageId":null,"productlistOnChange":null,"isLandingPage":false,"module":"content","action":"homepage","modals":[],"scrollTop":0};
  var currentLang = "en";
  var defaultLang = "en";
  var link_text_show_less_filter = 'link_text_show_less_filter';
  var link_text_show_more_filter = 'link_text_show_more_filter';
  var shop_host = 'www.sneak-a-venue.com';
  var shop_host_ssl = '';









jQuery(document).ready(function () {



});





jQuery(document).ready(function () {



});

</script>
    <script src="{% static '/js/homepage.js' %}"></script>
    <script src="{% static '/js/noIE-app.js' %}"></script>
    <script src="{% static '/js/lazyload.min.js' %}"></script>
<script src="{% static '/js/clk.min.js' %}"></script>
    <script src="{% static '/js/klaro.js' %}"></script>
    <script src="{% static '/js/productDetail.js' %}"></script>
    <script src="{% static '/js/klaro-config-com.js' %}"></script>

</body>
</html>